# = NPM
# ----------------------------------------------------------------------
bower_components
node_modules

# = FILES
# ----------------------------------------------------------------------
.DS_Store
.Trashes

# = PAGES
# ----------------------------------------------------------------------
*.zip
*.log
*.php
*.html

# = CONFIG
# ----------------------------------------------------------------------
prerpros-6.config
prerpros.config
prerpros.cfg