# = MAC FILES
# ----------------------------------------------------------------------
Icon
.DS_Store

# = KIRBY FOLDERS
# ----------------------------------------------------------------------
/content/*
/kirby/*
/panel/*
/site/*

# = IMAGES
# ----------------------------------------------------------------------
/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

# = KIRBY ACCOUNTS
# ----------------------------------------------------------------------
/site/accounts/*
!/site/accounts/index.html

# = AVATARS
# ----------------------------------------------------------------------
/assets/avatars/*
!/assets/avatars/index.html

# = PREPOS FILES
# ----------------------------------------------------------------------
/prepros.cfg
/prepros-6.config
/prepros.cfg

# = PAGES
# ----------------------------------------------------------------------
*.zip
*.log
*.php
*.html

# = NPM & BOWER
# ----------------------------------------------------------------------
node_modules/*
bower_components/*
