/* = Colors
-----------------------------------------------------------------------------*/
$color-primary:		#1c86f2 	!default;
$color-secundary:		#000000	!default;

$color-divider:			#cfd9db	!default;

$color-text:			#333333	!default;
$color-text-light:		#AEA79F 	!default;
$color-text-black:		#111111 	!default;

/* = Size text
-----------------------------------------------------------------------------*/
$size-text:				16px;

/* = Typography
-----------------------------------------------------------------------------*/
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


/* = Inputs
-----------------------------------------------------------------------------*/
$font-size-input:			14px !default;
$border-radius-input:		4px;

/* = Label
-----------------------------------------------------------------------------*/
$font-size-label:	14px !default;

/* = Buttons
-----------------------------------------------------------------------------*/
$font-size-button:			16px 		!default;
$border-radius-button:	4px 		!default;
$line-height-button:		1.5 			!default;

/* = Grid
-----------------------------------------------------------------------------*/
$grid-columns:              12 !default;

/* = Breakpoints
-----------------------------------------------------------------------------*/
