.button {
	//Text
	font-size: $font-size-button;
	line-height: $line-height-button;
	font-weight: normal;
	text-align: center;
	text-decoration: none;

	//Style
	display: inline-block;
	padding: 8px 15px;
	margin-bottom: 0;
	white-space: nowrap;
	vertical-align: middle;
	background-image: none;
	border: 1px solid transparent;
	border-radius: $border-radius-button;

	//Cursor
	cursor: pointer;
	-webkit-appearance: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover{
		text-decoration: none;
	}
	&:active{

	}
	&:focus{

	}
}

.button-primary{
	color: #ffffff;
	background-color: $color-primary;
}