@mixin align-items($align) {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: $align;
	-webkit-justify-content: $align;
	-ms-flex-pack: $align;
	justify-content: $align;
}