/* =Size breakpoints
-----------------------------------------------------------------------------*/
$screen-xs	:			480px !default;
$screen-small:			768px !default;
$screen-medium:		992px !default;
$screen-large: 			1200px !default;
$screen-full: 			1824px !default;


@mixin media($breakpoint...){

	/* =Mobile
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, xs){
		@media only screen and (max-width : $screen-xs) {
			@content;
		}
	}

	/* =SmarthPhone
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, small){
		@media only screen and (max-width: $screen-small) {
			@content;
		}
	}

	/* =Desktops
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, large){
		@media only screen and (min-width : $screen-large) {
			@content;
		}
	}

	/* =Full Screens
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, full){
		@media only screen and (min-width : $screen-full) {
			@content;
		}
	}
}
