.columns-style{
	 position: relative;
	 min-height: 1px;
}

@mixin generate-grid-columns {
	 @for $i from 1 through $grid-columns
	 {
	 	.col-xs-#{$i}{
	 		@extend .columns-style;
	 		@media (max-width: 768px) {
	 			width: 100% / $grid-columns * $i;
	 			float: left;
	 		}
	 	}
	 	.col-md-#{$i}{
	 		@extend .columns-style;
	 		@media (min-width: 768px) and (max-width: 1024px){
	 			width: 100% / $grid-columns * $i;
	 			float: left;
	 		}
	 	}
	 	.col-lg-#{$i}{
	 		@extend .columns-style;
	 		@media (min-width: 1200px) {
	 			width: 100% / $grid-columns * $i;
	 			float: left;
	 		}
	 	}
	 }
}