$grid-columns: 12 !default;

@for $i from 1 through $grid-columns
{
	.offset-#{$i} {
		$width: 100% / $grid-columns * $i;
		margin-left: $width;
		@media (max-width: $screen-sm-min) {
			margin-left: 0;
		}
	}
}