$grid-columns: 12 !default;
$grid-gutter: 2% !default;

.separate {
	@for $i from 1 through $grid-columns
	{
		& > .col-md-#{$i} {
			 $width: 100% / $grid-columns * $i;
               		 width: calc(#{$width} - #{$grid-gutter});
               		@media (max-width: $screen-sm-min) {
               		 	width: 100%;
               		 }
		}
	}
}

.row{
	&.separate {
		margin-left: -$grid-gutter;
		@for $i from 1 through $grid-columns
		{
			& > .col-md-#{$i} {
				margin-left: $grid-gutter;
			}
		}
	}
}